*{
  padding:0;
  margin: 0;
}

html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", sans-serif;
  min-width: 1200px;
  background: linear-gradient(180deg, rgba(238,233,233,1) 0%, rgba(236,230,230,1) 36%, rgba(231,226,226,1) 100%);
}

#app{
  width: 100%;
  height: 100%;
}


:root {
  --ym-w-full: 100%;
  --ym-h-full: 100%;
  --ym-primary: #060716;
  --ym-primary-sub:#161823;
  --ym-global-color:#ffffff;
  --ym-color:none;
  --ym-content-background-color:#2e3742;
}

.ym-height-fill{
  height: var(--ym-h-full);
}

.ym-width-fill{
  width: var(--ym-w-full);
}

.ym-container {
  height: var(--ym-h-fill);
  background-color: var(--ym-global-color);
}

