body,html,a,h1,h2,h3,h4,h5,h6,ul,ol,div{
  padding:0;
  margin: 0;
}
body,html{
  height: 100%;
  width: 100%;
}
ul li,ol li,a {
  list-style: none;
  text-decoration: none;
}


a{
  color:#060716
}

a:hover{
  color: var(--ep-color-primary);
}

.clearfix{
  clear: both;
}

.leftfix{
  float: left;
}

.rightfix{
  float: left;
}


#app{
  width: 100%;
  height: 100%;
}


:root {
  --ym-w-full: 100%;
  --ym-h-full: 100%;
  --ym-primary: #060716;
  --ym-primary-sub:#161823;
  --ym-global-color:#ffffff;
  --ym-color:none;
  --ym-content-background-color:#2e3742;
  --ym-min-width:1000px;
  --ym-container:1000px
}

.ym-height-fill{
  height: var(--ym-h-full);
}

.ym-width-fill{
  width: var(--ym-w-full);
}

.container {
  width:var(--ym-container)
}

.enable-row-flex{
  display: flex;
  flex-direction: row;
}


.enable-col-flex{
  display: flex;
  flex-direction: column;
}

.ym-nav-active {
  color: var(--ep-color-primary);
}

.content-wrap {
  width:100%;
  padding:16px 20px;
  box-sizing:border-box;
  border-bottom: 1px solid #f0f2f7;
}

